\# ===========================================
# CONFIGURACIÓN DE PRODUCCION
# ===========================================
IS_PROD=FALSE
# ===========================================
# CONFIGURACIÓN DE BASE DE DATOS
# ===========================================
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=agro_user
POSTGRES_PASSWORD=agro_password
POSTGRES_DB=agro_db

# ===========================================
# CONFIGURACIÓN DE BASE DE DATOS MONGO
# ===========================================
MONGO_DB=agro_sensors
MONGO_USER=agro_user
MONGO_PASSWORD=agro_password
MONGO_EXTERNAL_PORT=27017


# ===========================================
# CONFIGURACIÓN DE JWT
# ===========================================
# IMPORTANTE: Cambia este secreto en producción
JWT_SECRET=
JWT_EXPIRATION=3600s

# ===========================================
# CONFIGURACIÓN DE SERVICIOS
# ===========================================
NODE_ENV=development


# Ingestion Service
API_BASE_URL=
POLL_INTERVAL_MS=
MONGODB_URI=
DB_NAME=


# Auth Service
AUTH_SERVICE_PORT=3000
AUTH_SERVICE_URL=http://auth-service:3000

# Gateway
GATEWAY_PORT=3000
GATEWAY_URL=http://gateway:3000

# Frontend
FRONTEND_PORT=5173
FRONTEND_EXTERNAL_PORT=5173

# Plots Service
PLOTS_SERVICE_PORT=3002
PLOTS_SERVICE_URL=http://agro-repo-plots:3002

# ===========================================
# CONFIGURACIÓN DE PUERTOS (HOST)
# ===========================================
POSTGRES_EXTERNAL_PORT=5432
AUTH_SERVICE_EXTERNAL_PORT=3001
GATEWAY_EXTERNAL_PORT=3000


# ==========================================
# TOKEN DE GITHUB
# ==========================================
GITHUB_TOKEN=

# ==========================================
# AUTH HOSTS
# ==========================================

AUTH_HOST=localhost
AUTH_PORT=3001

AUTH_HOST_PROD=localhost
AUTH_PORT_PROD=3001
